.container {
    display: inline-block;
}

.event-log,
.stats,
.equipped-items,
.inventory {
    display: inline-block;
    height: 250px;

}

.event-log,
.stats,
.equipped-items,
.inventory,
.actions {
    padding: 10px;
    margin: 10px;
}

.event-log {
    width: 500px;
}

.stats,
.equipped-items,
.inventory {
    width: 200px;
}

.actions {
    height: 150px;
}