.equipment-item {

}

.equipment-item__name {

}

.equipment-item__action {
    display: none;

    float: right;

    cursor: pointer;
}

.equipment-item:hover .equipment-item__action {
    display: inline;
}