.pane {
    border: 1px solid #777;
    vertical-align: top;
    overflow-y: hidden;
}

.pane__title {
    height: 20%;
    font-size: 20px;
    color: #777;
}

.pane__content,
.pane__list {
    height: 80%;
    overflow-y: scroll;
}